/* index.css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Noto Serif NP Hmong", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #0f0f0f;
    color: #f5f5f5;
}

@media (max-width: 700px) {
    .item-menu-btn {
        width: 30px;
        height: 30px;
    }

    .item-menu-btn svg {
        width: 15px;
        height: 15px;
    }
}