.column-layout {
    display: grid;
    align-items: start;
    grid-template-columns: minmax(0, 1fr) 260px;
    margin-left: 260px;
    min-height: 100vh;
    max-width: 1400px; /* widespread */
    padding: 0 140px; /* top, left */
}

/* ----- left side ----- */
.left-bar {
    flex: 1;
    top: 0;
    left: 160px;
    width: 240px;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    background-color: #000;
    border-right: 2px solid #111;
    z-index: 100;
}

.left-bar-links {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.left-bar nav a {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    padding: 12px;
    color: #999;
    transition: 0.3s ease;
}

.left-bar nav a svg {
    flex-shrink: 0;
    width: 27px;
    height: 27px;
}

.left-bar nav a:hover {
    background-color: #090909;
    color: #A4243B;
}

.left-bar nav a.active {
    color: #A4243B;
}

.profile-avatar {
    width: 27px;
    height: 27px;
    border-radius: 4px;
    flex-shrink: 0;
    object-fit: cover;
    image-rendering: smooth;
}

#new-link {
    color: #fff;
    background-color: #A4243B;
    border-radius: 12px;
    justify-content: center;
    margin: auto;
    margin-top: auto;
    margin-bottom: 12px;
    width: 80%;
    transition: 0.3s ease;
}

#new-link:hover {
    background-color: #660d1e;
}

.mobile-fab {
    display: none;
}

/* ----- center ----- */
.center-bar {
    flex: 1;
    min-width: 0;
}

.topic-wrapper {
    max-width: 1000px;
    display: flex;
}

.topic-tabs {
    display: flex;
    border-bottom: 2px solid #111;
}

.tab-btn {
    padding: 12px 14px; /* height, width */
    border: none;
    border-bottom: 3px solid #000 ;
    background: none;
    color: #999;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    cursor: pointer;
    transition: 0.3s ease;
}

#tab-preferences {
    margin-left: auto;
}

.tab-btn:hover {
    background-color: #111;
    border-bottom: 3px solid #111;

}

.tab-btn.active {
    border-bottom: 3px solid #A4243B;
    color: #A4243B ;
}

/* ----- right side ----- */
.right-bar {
    padding: 10px; /* space around */
    position: sticky;
    align-self: flex-start;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    border-left: 2px solid #111;
}

.right-bar input[type="search"] {
    width: 100%;
    border-radius: 12px;
    max-width: 400px;
    padding: 10px 12px; /* height, width */
    border: 2px solid #111;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    background-color: #232323;
}

.right-bar input[type="search"]:focus {
    border-color: #A4243B; 
    color: inherit;
}